[submodule ".programs/fzf"]
	path = .programs/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".programs/st"]
	path = .programs/st
	url = https://github.com/LukeSmithxyz/st.git
[submodule ".programs/i3-gaps"]
	path = .programs/i3-gaps
	url = https://github.com/Airblader/i3.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:daviur/vimrc.git
[submodule ".config/tmux"]
	path = .config/tmux
	url = git@github.com:daviur/tmux.git
